#ibusqueda{
    width: 60%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;

}

#bbusqueda{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
    
}
#bbusqueda:hover{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
    background-color: #D2CFCE;

}
#titulovideo{
    font-family: Arial, Helvetica, sans-serif;
}
#busqueda{
    margin-left: 16%;
    margin-right: 16%;
}
#hrbusqueda{
    border: 2px rgba(0, 0, 0, 0.014);
   
}
