
<!-- <header><div id="navbar">
  <button  id="InicioSesion">Inicia Sesión</button>
</div></header> -->
<div><div id="busqueda">
    <input id="ibusqueda" [(ngModel)]="searchQuery" placeholder="Busqueda de videos" />
    &nbsp;&nbsp;<button id="bbusqueda" (click)="search()">Buscar</button></div>
  </div>
  <hr id="thbusqueda">
  <div *ngIf="videos.length > 0">
    <ul>
      <li *ngFor="let video of videos">
        <h3 id="titulovideo">{{ video.snippet.title }}</h3>
        <iframe width="560" height="315" [src]="getVideoUrl(video.id.videoId)" frameborder="0" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
