<div id="navbar">

</div>
<div id="login">
    <div id="formulario">
       
        <!-- <img src="/src/assets/images/flecha.png"> -->
        <!-- <button> Regresar </button> -->
        <h1 class="title">Inicia sesión</h1><br><br>
        <form>
        Correo:<input type="email" required><br><br>
        Contraseña:<input type="password" required>
        <br><br>
        <button id="blogin" (click)="navigateToVideo()">Iniciar Sesión</button><br><br> </form>
        <button id="bregister" (click)="navigateToRegistro()">Registrarse</button>
    </div>

</div>